<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style>
        .activenav{
            color:#E02222 !important;
        }
    </style>
</head>
<body>

    <a class="site-logo" href="index.html" style="text-decoration: none">校园闲置物品租赁平台</a>

    <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

    <!-- BEGIN CART -->
    <div id="headapp">

    <!--END CART -->

    <!-- BEGIN NAVIGATION -->
    <div class="header-navigation">
        <ul>
            <li><a href="index.html" :class="biaoji=='index'?'activenav':''">首页</a></li>
            <!--
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                    Woman

                </a>

                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a href="shop-product-list.html">Hi Tops <i class="fa fa-angle-right"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="shop-product-list.html">Second Level Link</a></li>
                            <li><a href="shop-product-list.html">Second Level Link</a></li>
                            <li class="dropdown-submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                                    Second Level Link
                                    <i class="fa fa-angle-right"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="shop-product-list.html">Third Level Link</a></li>
                                    <li><a href="shop-product-list.html">Third Level Link</a></li>
                                    <li><a href="shop-product-list.html">Third Level Link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="shop-product-list.html">Running Shoes</a></li>
                    <li><a href="shop-product-list.html">Jackets and Coats</a></li>
                </ul>
            </li>
            -->
            <li><a href="noticelist.html" :class="biaoji=='notice'?'activenav':''">公告信息</a></li>
            <li class="dropdown dropdown-megamenu">
                <a class="dropdown-toggle" :class="biaoji=='product'?'activenav':''" data-toggle="dropdown" data-target="#"  href="javascript:;" @click="toproductmsg()">
                    物品分类

                </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="header-navigation-content">
                            <div class="row" style="display:flex;flex-wrap: wrap">


                                <div v-for="category in categorylist" class=" header-navigation-col" >
                                    <h4><a :href="['productmsg.html?categoryid='+category.id]">{{category.name}}</a></h4>
                                    <ul>
                                        <li v-for="ccategory in category.childlist"><a :href="['productmsg.html?childid='+ccategory.id]">{{ccategory.name}}</a></li>
                                    </ul>
                                </div>



                            </div>
                        </div>
                    </li>
                </ul>
            </li>

            <!--
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                    Pages

                </a>

                <ul class="dropdown-menu">
                    <li class="active"><a href="shop-index.html">Home Default</a></li>
                    <li><a href="shop-index-header-fix.html">Home Header Fixed</a></li>
                    <li><a href="shop-index-light-footer.html">Home Light Footer</a></li>
                    <li><a href="shop-product-list.html">Product List</a></li>
                    <li><a href="shop-search-result.html">Search Result</a></li>
                    <li><a href="shop-item.html">Product Page</a></li>
                    <li><a href="shop-shopping-cart-null.html">Shopping Cart (Null Cart)</a></li>
                    <li><a href="shop-shopping-cart.html">Shopping Cart</a></li>
                    <li><a href="shop-checkout.html">Checkout</a></li>
                    <li><a href="shop-about.html">About</a></li>
                    <li><a href="shop-contacts.html">Contacts</a></li>
                    <li><a href="shop-account.html">My account</a></li>
                    <li><a href="shop-wishlist.html">My Wish List</a></li>
                    <li><a href="shop-goods-compare.html">Product Comparison</a></li>
                    <li><a href="shop-standart-forms.html">Standart Forms</a></li>
                    <li><a href="shop-faq.html">FAQ</a></li>
                    <li><a href="shop-privacy-policy.html">Privacy Policy</a></li>
                    <li><a href="shop-terms-conditions-page.html">Terms &amp; Conditions</a></li>
                </ul>
            </li>
-->

            <li><a href="about.html" :class="biaoji=='about'?'activenav':''">关于我们</a></li>
            <li><a href="chatlist.html" :class="biaoji=='chat'?'activenav':''">在线留言</a></li>

            <!-- BEGIN TOP SEARCH -->
            <!--
            <li class="menu-search">
                <span class="sep"></span>
                <i class="fa fa-search search-btn"></i>
                <div class="search-box">
                    <form action="#">
                        <div class="input-group">
                            <input type="text" placeholder="物品名称" class="form-control">
                            <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">搜索</button>
                    </span>
                        </div>
                    </form>
                </div>
            </li>
            -->
            <!-- END TOP SEARCH -->
        </ul>
    </div>
    </div>
    <!-- END NAVIGATION -->
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->

    <script src="assets/corporate/scripts/layout.js" type="text/javascript"></script>
</body>
<script type="text/javascript" src="axios/vue.js"></script>
<script type="text/javascript" src="axios/axios.min.js"></script>
<script type="text/javascript" src="axios/qs.js"></script>
<script type="text/javascript" src="axios/getUrlParams.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
</script>
<script type="text/javascript">
    var qs = Qs
    var headapp = new Vue({
        el: '#headapp',
        data: {
            categorylist:[],//二级类目
            sessionmember:"",
            cartlist:[],
            total:"",
            biaoji:"",
        },
        mounted(){
            this.getfatherlist()
            this.getcheckmember()
            this.biaoji = sessionStorage.getItem("signoutShow")

        },
        methods: {

            toproductmsg(){
                location.replace("productmsg.html")
            },


            /**
             *用户是否登录
             */
            getcheckmember(){
                axios.post('checkmember.do',qs.stringify({
                })).then(response =>{
                    if(response.data.data==200){
                        this.sessionmember = response.data.sessionmember
                    }
                }).catch(error =>{
                    console.log(error)
                })
            },

            /**
             * 购物车列表
             */


            //类别列表
            getfatherlist(){
                axios.post('admin/categoryList.do',qs.stringify({
                })).then(response =>{
                    this.categorylist = response.data.list
                }).catch(error =>{
                    console.log(error)
                })
            },


        }
    });
</script>

</html>